<!DOCTYPE HTML>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Nightlife Rio Janeiro</title> 
    </head>
    <body>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #191919;">
        <!-- Main -->
        <tr class="primeira-linha">
          <!-- TR 1 - Header -->

          <!-- Espaçamento -->
          <td height="72" bgcolor="#000" class="espacamento">
            &nbsp;
          </td>
          <!-- / Espaçamento -->
          
          <!-- Header Content-->    
          <td width="730" bgcolor="#000">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <!-- Logo -->
                <td class="logo">
                  <a href="http://www.theaccessclub.com.br/">
                    <img src="http://www.theaccessclub.com.br/wp-content/uploads/2012/07/logo-header.png" width="239" height="43" border="0" />
                  </a>
                </td>
                <!-- / Logo -->

                <!-- Estado -->
                <td width="100%" align="center" style="color: #858585; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                  {{ estado }}
                </td>
                <!-- / Estado -->

                <!-- Social -->
                <td style="padding: 10px;">
       	          <a href="http://www.facebook.com/theaccessclub" target="_blank">
          	         <img src="http://mailmkt.theaccessclub.com.br/img/btn-facebook.gif" width="35" height="38" border="0"/>
                  </a>
                </td>
                <!-- / Social -->
              </tr>
            </table>
          </td>
          <!-- / Header Content -->

          <!-- Espaçamento -->
          <td bgcolor="#000">
            &nbsp;
          </td>
          <!-- / Espaçamento -->
        </tr>
        <!-- / TR 1 Header -->

        <!-- TR 2 Content -->
        <tr class="content">
          
          <!-- Espaçamento -->
          <td>
            &nbsp;
          </td>
          <!-- / Espaçamento -->
          
          <td class="coluna-central">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
          	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td height="20">
                                   <img src="{{ dia_semana }}" style="margin-top:13px;" />
                                  </td>
                                  <td height="20" align="right" style="color: #858585; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding-top:8px;">
                                    {{ data }}
                                  </td> 
                                </tr>
                              </table>
                            </td>
                          </tr> 
                          <!-- Destaque Principal -->
                          <tr>
                            <td>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                
                                <tr>
                                  <td colspan="3" style="padding: 0px; margin:0px;">
                                    <a href="">
                                      <img src="" width="100%" height="253" border="0" />
                                    </a>
                                  </td>
                                </tr>
                                
                                <tr>

                                   <!-- Icone -->
                                  <td width="57" bgcolor="#343434" style="padding: 20px; border-right:1px solid #535353;">
                                    <img src="http://mailmkt.theaccessclub.com.br/img/icon-nightlife.gif" width="57" height="56"/>
                                  </td>
                                  <!-- /Icone -->

                                  <!-- Nome do Parceiro e beneficios -->
                                  <td bgcolor="#343434" style="padding: 10px; margin:0px;" class="chamada">
                                    <h3 style="margin: 5px;margin-left:10px;">
                                      <a href="{{ link_evento }}" style="color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 18px; margin: 0px 0px 5px; text-decoration: none;">
                                        {{ nome_evento }}
                                      </a>
                                    </h3>
                                    <p style="margin: 5px;">
                                      <a href="{{ link_evento }}" style="color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 0px 0px 5px; text-decoration: none;">
                                        <ul style="padding-left:5px;margin-left:5px;">
                                          <li style="line-height:0px; color:#bab9b9;">{{ beneficio }}</li><br/>
                                      </a>
                                    </p>
                                  </td>
                                  <!-- /Nome do Parceiro e beneficios-->
                                  <td width="91" bgcolor="#343434" style="padding: 10px; margin:0px;">
                                    <a href="{{ link_evento }}">
                                      <img src="http://mailmkt.theaccessclub.com.br/img/btn-ver.gif" width="91" height="35" border="0"/>
                                    </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <!--/ Destaque Principal -->
                          
                          <!-- Espacamento -->
                          <tr height="15">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <td>&nbsp;</td>
                            </table>
                          </tr>
                          <!-- / Espacamento -->
                          <tr>
                            <td height="100" align="center" bgcolor="#353535">
                              <table width="85%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td rowspan="2">
          	                        <a href="http://www.theaccessclub.com.br">
                                      <img src="http://mailmkt.theaccessclub.com.br/img/logo-ac.gif" width="53" height="29" border="0" />
                                    </a>
                                  </td>
                                  <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-weight: bold;	text-transform: uppercase;	font-size: 14px;	color: #858585;	padding: 5px 0px;">
                                    faça parte do club
                                  </td>
                                  <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-weight: bold;	text-transform: uppercase;	font-size: 14px;	color: #858585;	padding: 5px 0px;">
                                    siga-nos
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <a href="http://www.theaccessclub.com.br/junte-se-ao-clube/">
                                      <img src="http://mailmkt.theaccessclub.com.br/img/btn-ac.gif" width="151" height="34" border="0" />
                                    </a>
                                  </td>
                                  <td align="center">
                                    <a href="http://www.facebook.com/theaccessclub" target="_blank">
                                      <img src="http://mailmkt.theaccessclub.com.br/img/icon-facebook.gif" width="36" height="36" border="0" />
                                    </a>
                                  </td> 
                                </tr>
                              </table>
                            </td>
                          </tr>           
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="60%" style="font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #D3D3D3;	">
                              Para garantir que nossos comunicados cheguem   em sua caixa de entrada, <br>
                              adicione o e-mail <a href="mailto:contato@theaccessclub.com.br" style="color: #FFFFFF;">contato@theaccessclub.com.br</a> ao seus contatos.
                            </td>
                            <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #D3D3D3;	">
                              <a href="#" style="	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;	color: #D3D3D3;		text-decoration: underline;">Política de privacidade</a>
                            </td>
                            <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #D3D3D3;	">
                              <a href="#" style="	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;	color: #D3D3D3;		text-decoration: underline;">Descadastre-se</a>
                            </td>
                          </tr>
                      </table> 
                    </td>
                  </tr>
                  <tr>
                    <td height="150">&nbsp;</td>
                  </tr>
                </table>
              </td>
              <td>&nbsp;</td>
            </tr>
          </td>
        </tr>
      </table>
    </body>
</html>
