<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beneficios Rio Janeiro</title> 
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #191919;">
      <tr>
        <td height="72" bgcolor="#000">&nbsp;</td>
          <td width="730" bgcolor="#000">
          <!--Header-->   	
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <a href="http://www.theaccessclub.com.br/">
                    <img src="http://www.theaccessclub.com.br/wp-content/uploads/2012/07/logo-header.png" alt="Access Club" width="239" height="43" border="0">
                  </a>
                </td>
                <td width="100%" align="center" style="color: #858585; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                  <!-- RIO DE JANEIRO -->
                </td>
                 <td style="padding: 10px;">
                 	<a href="http://www.facebook.com/theaccessclub" target="_blank">
                  	<img src="http://mailmkt.theaccessclub.com.br/img/btn-facebook.gif" width="35" height="38" alt="FB" border="0">
                  </a>
               </td>
              </tr>
            </table>
          </td>
        <td bgcolor="#000">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
    	          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
            	        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="40">
                            <img src="http://mailmkt.theaccessclub.com.br/img/tit-beneficios-dos-associados.gif" alt="Beneficios dos associados"/>
                          </td>
                          <td align="right" style="color: #858585; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                            &nbsp; 
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!--Destaque Principal-->
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td colspan="3" style="padding: 0px; margin:0px;">
                	          <a href="http://www.theaccessclub.com.br/parceiros/hotel-praia-ipanema-rio-de-janeiro/">
                		          <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/destaque-5.jpg" width="100%" height="253" border="0"/>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td width="54" bgcolor="#343434" style="border-right:1px solid #4d4d4d;padding: 10px;">
                	          <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/icone-turismo.png" width="69" height="69">
                          </td>
                          <td bgcolor="#343434" style="padding:10px 0px 0px 10px; margin:0px;" class="chamada">
                          	<h3 style="margin: 5px;padding-left:20px;">
                            	<a href="http://www.theaccessclub.com.br/parceiros/hotel-praia-ipanema-rio-de-janeiro/" style="color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 18px; margin: 0px 0px 5px; text-decoration: none;">
                                Hotel Praia Ipanema - Rio de Janeiro
                 	 	          </a>
                            </h3>
                    	      <a href="http://www.theaccessclub.com.br/parceiros/hotel-praia-ipanema-rio-de-janeiro/" style="color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin: 0px 0px 5px; text-decoration: none;">
                              <ul style="padding-left: 24px;">
                                 <li style="color:#c0c0c0">1 diária <strong style="font-weight:normal;color:#f6f6f6;">grátis,</strong> sempre que vinculada a pelo menos uma diária paga com tarifas especiais de até <strong style="font-weight:normal;color:#f6f6f6;">65%.</strong> de desconto
                                 </li>
                              </ul>
                            </a>
                            </p>
                          </td>
                          <td width="91" bgcolor="#343434" style="padding: 10px; margin:0px;">
                  	        <a href="http://www.theaccessclub.com.br/parceiros/hotel-praia-ipanema-rio-de-janeiro/">
                    	       <img src="http://mailmkt.theaccessclub.com.br/img/btn-ver.gif" width="91" height="35" border="0">
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- Conteudo da esquerda -->
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="20">
                            &nbsp; 
                          </td>
                          <td align="right" style="color: #858585; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                            &nbsp; 
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="350" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="2" style="padding: 0px; margin:0px;">
                    	            <a style="position: relative;top: 5px;" href="http://www.theaccessclub.com.br/Parceiro/totem/">
                        	         <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/destaque-totem.jpg" width="100%" height="250" border="0"/>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td width="54" bgcolor="#343434" style="padding: 10px;border-right:1px solid #4d4d4d;">
                    	            <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/ico-moda.jpg" width="47" height="43"/>
                                  <a href="http://www.theaccessclub.com.br/Parceiro/totem/">
                                    <img style="margin-top:10px;" src="http://mailmkt.theaccessclub.com.br/img/btn-ver.gif" width="45" height="20" border="0"/>
                                  </a>
                                </td>
                                <td bgcolor="#343434" style="padding: 10px; margin:0px;">
                                  <h3 style="margin: 0px;margin-left:10px;">
                      	            <a href="http://www.theaccessclub.com.br/Parceiro/totem/" style="color: #FFF;	font-family: Arial, Helvetica, sans-serif;	font-size: 14px;	margin: 0px 0px 5px;	text-decoration: none;">
                                      Totem
                      	            </a>
                                  </h3>
                                  <span style="float:left;margin: 5px; width:267px; height:52.5px;">
                                    <a href="http://www.theaccessclub.com.br/Parceiro/totem/" style="color: #666;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	margin: 0px;	text-decoration: none;">
                                      <li style="margin-left:5px;color:#666;margin-top:10px;"><span style="color:#666;">Desconto de 15% em todos produtos das lojas da redes.<span></li>
                                    </a>
                                   </span>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <!-- Conteudo da Direita -->
                          <td width="10">&nbsp;</td>
                          <td width="350" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="2" style="padding: 0px; margin:0px;">
                                  <a style="position: relative;top: 5px;" href="http://www.theaccessclub.com.br/parceiros/sapatizi">
                                   <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/destaque-sapa.jpg" width="100%" height="250" border="0"/>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td width="54" bgcolor="#343434" style="padding: 10px;border-right:1px solid #4d4d4d;">
                                  <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio de Janeiro/img/ico-small-partners-page-outros.png" width="45" height="43"/>
                                  <a href="http://www.theaccessclub.com.br/parceiros/sapatizi">
                                    <img style="margin-top:10px;" src="http://mailmkt.theaccessclub.com.br/img/btn-ver.gif" width="45" height="20" border="0"/>
                                  </a>
                                </td>
                                <td bgcolor="#343434" style="padding: 10px; margin:0px;padding-bottom:0px;">
                                  <h3 style="margin: 0px;margin-left:10px;">
                                    <a href="http://www.theaccessclub.com.br/parceiros/sapatizi" style="color: #FFF;  font-family: Arial, Helvetica, sans-serif;  font-size: 14px;  margin: 0px 0px 5px;  text-decoration: none;">
                                      Sapatizi
                                    </a>
                                  </h3>
                                  <span style="float:left;margin: 5px; width:267px; height:52.5px;">
                                    <a href="http://www.theaccessclub.com.br/parceiros/sapatizi" style="color: #666;  font-family: Arial, Helvetica, sans-serif;  font-size: 12px;  margin: 0px;  text-decoration: none;">
                                      <li style="margin-left:5px;color:#666;margin-top:0px;"><span style="color:#666;">20% de desconto no orçamento final do evento e em compras individuais de sapatilhas.<span></li>
                                      <li style="margin-left:5px;color:#666;margin-top:0px;"><span style="color:#666;">100% de desconto na personalização de sapatilhas para eventos.<span></li>
                                    </a>
                                   </span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- 2° linha conteudo da esquerda -->
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="20">&nbsp; </td>
                          <td align="right" style="color: #858585; font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">&nbsp; </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="350" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="2" style="padding: 0px; margin:0px;">
                                  <a style="position: relative;top: 5px;" href="http://www.theaccessclub.com.br/parceiros/osteria-dellangolo/">
                                   <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/destaque-oste.jpg" width="100%" height="250" border="0"/>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td width="54" bgcolor="#343434" style="padding: 10px;border-right:1px solid #4d4d4d;">
                                  <img src="http://mailmkt.theaccessclub.com.br/img/icon-gastronomia.gif" width="45" height="43"/>
                                  <a href="http://www.theaccessclub.com.br/parceiros/osteria-dellangolo/">
                                    <img style="margin-top:10px;" src="http://mailmkt.theaccessclub.com.br/img/btn-ver.gif" width="45" height="20" border="0"/>
                                  </a>
                                </td>
                                <td bgcolor="#343434" style="padding: 10px; margin:0px;">
                                  <h3 style="margin: 0px;margin-left:10px;">
                                    <a href="http://www.theaccessclub.com.br/parceiros/osteria-dellangolo/" style="color: #FFF;  font-family: Arial, Helvetica, sans-serif;  font-size: 14px;  margin: 0px 0px 5px;  text-decoration: none;">
                                      Osteria Dell'Angolo
                                    </a>
                                  </h3>
                                  <span style="float:left;margin: 5px; width:267px; height:52.5px;">
                                    <a href="http://www.theaccessclub.com.br/parceiros/osteria-dellangolo/" style="color: #666;  font-family: Arial, Helvetica, sans-serif;  font-size: 12px;  margin: 0px;  text-decoration: none;">
                                      <li style="margin-left:5px;color:#666;margin-top:0px;"><span style="color:#666;">Mesa de 1 pessoa, desconto de 10% na comida. Mesa de 2 pessoas, desconto de 20% na comida. Mesa de 3 pessoas, desconto de 33% na comida.<span></li>
                                    </a>
                                   </span>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width="10">&nbsp;</td>
                          <td width="350" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td colspan="2" style="padding: 0px; margin:0px;">
                                  <a style="position: relative;top: 5px;" href="http://www.theaccessclub.com.br/parceiros/tex-estudio-de-danca/">
                                   <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/destaque-tex.jpg" width="100%" height="250" border="0"/>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td width="54" bgcolor="#343434" style="padding: 10px;border-right:1px solid #4d4d4d;">
                                  <img src="http://mailmkt.theaccessclub.com.br/img/icon-cursos.gif" width="45" height="43"/>
                                  <a href="http://www.theaccessclub.com.br/parceiros/tex-estudio-de-danca/">
                                    <img style="margin-top:10px;" src="http://mailmkt.theaccessclub.com.br/img/btn-ver.gif" width="45" height="20" border="0"/>
                                  </a>
                                </td>
                                <td bgcolor="#343434" style="padding: 10px; margin:0px;">
                                  <h3 style="margin: 0px;margin-left:10px;">
                                    <a href="http://www.theaccessclub.com.br/parceiros/tex-estudio-de-danca/" style="color: #FFF;  font-family: Arial, Helvetica, sans-serif;  font-size: 14px;  margin: 0px 0px 5px;  text-decoration: none;">
                                      Tex
                                    </a>
                                  </h3>
                                  <span style="float:left;margin: 5px; width:267px; height:52.5px;">
                                    <a href="http://www.theaccessclub.com.br/parceiros/tex-estudio-de-danca/" style="color: #666;  font-family: Arial, Helvetica, sans-serif;  font-size: 12px;  margin: 0px;  text-decoration: none;">
                                        <li style="margin-left:5px;color:#666;margin-top:0px;">  <span style="color:#666;">
                                            12% de desconto na mensalidade em qualquer curso da academia.
                                          </span>
                                        </li>
                                        <li style="margin-left:5px;color:#666;margin-top:10px;">
                                          <span style="color:#666;">
                                            Demais: drink especial da casa de cortesia.
                                          </span>
                                        </li>
                                    </a>
                                   </span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="10"></td>
                  </tr>     
                  <tr>
                    <td height="100" align="center" bgcolor="#353535">
                      <table width="85%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td rowspan="2">
        	                  <a href="http://www.theaccessclub.com.br">
                              <img src="http://mailmkt.theaccessclub.com.br/img/logo-ac.gif" width="53" height="29" border="0" style="margin-top: 0px;"/>
                            </a>
                          </td>
                          <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-weight: bold;	text-transform: uppercase;	font-size: 14px;	color: #858585;	padding: 5px 0px;">
                            <a href="http://www.theaccessclub.com.br/junte-se-ao-clube/">
                              <img src="http://mailmkt.theaccessclub.com.br/Beneficios/Rio%20de%20Janeiro/img/vermaisparceiros2.png" style="margin-left:-25px;margin-top: 0px;" width="212" height="34" border="0">
                            </a>
                          </td>
                          <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-weight: bold;	text-transform: uppercase;	font-size: 12px;	color: #858585;	padding: 5px 0px;">
                            <a href="http://www.facebook.com/theaccessclub" target="_blank">
                              <img src="http://mailmkt.theaccessclub.com.br/img/icon-facebook.gif" width="36" style="margin-top: 0px;" height="36" border="0">
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">

                          </td>
                          <td align="center">
                            
                          </td> 
                        </tr>
                      </table>
                    </td>
                  </tr>           
                </table>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="60%" style="font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #D3D3D3;	">
                      Para garantir que nossos comunicados cheguem em sua caixa de entrada, <br>
                      adicione o e-mail <a href="mailto:contato@theaccessclub.com.br" style="color: #FFFFFF;">contato@theaccessclub.com.br</a> ao seus contatos.
                    </td>
                    <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #D3D3D3;	">
                      <a href="#" style="	font-family: Arial, Helvetica, sans-serif;	font-size: 14px	font-weight: bold;	color: #D3D3D3;		text-decoration: underline;">
                        Política de privacidade
                      </a>
                    </td>
                    <td align="center" style="font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #D3D3D3;	">
                      <a href="#" style="	font-family: Arial, Helvetica, sans-serif;	font-size: 14px	font-weight: bold;	color: #D3D3D3;		text-decoration: underline;">
                        Descadastre-se
                      </a>
                    </td>
                  </tr>
                </table> 
              </td>
            </tr>
            <tr>
              <td height="150">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </body>
</html>
